<div id="wrapper">
    <div id="container">
        <h1>Node Url Shortener</h1>
        <div id="form-outer">
            <div id="form-inner">
                <div id="urllink"><a href="#"></a></div>
                <input id="urlfield" type="text" name="url" value="http://www.google.com/" />
                <a id="submit">Get link!</a>
            </div>
        </div>
    </div><!-- end #container -->
</div><!-- end #wrapper -->