    <div class="container-fluid">
        <header>
            <h1><a href="/">nus</a></h1>
            <p>Simple URL Shortener using NodeJS and Redis.</p>
        </header>
        <div id="error" class="well">
            404
        </div>
        <footer>
            Created by <a href="http://twitter.com/dot_zero">@dot_zero</a> | <a href="http://dotzero.ru">dotzero.ru</a>
        </footer>
    </div>
